[Unit]
Description=BetterDesk Signal Server v2.1.1
Documentation=https://github.com/UNITRONIX/Rustdesk-FreeConsole
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rustdesk
ExecStart=/opt/rustdesk/hbbs -r %H -k _ --api-port 21120
Restart=always
RestartSec=5
LimitNOFILE=1000000
Environment=RUST_BACKTRACE=1

[Install]
WantedBy=multi-user.target
